.clearfix {
    overflow: auto;
}

body {
    background-color: lightgray;
}

header {
    margin: 20px;
    display: block;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* font-weight: 600; */
    width: 50%;
    text-decoration: none;
    float: left;
    padding: 10px;
}

#timer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: right;
    width: 50%;
    float: right;
    padding: 10px;
}

main {
    text-align: center;
    /* margin-top: 10px;
    display: block; */
}

.row {
    /* border: 2px solid black; */
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
}

li {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ff5d88;
    color: white;
    font-size: 1.5em;
    line-height: 1.5;
}