.clearfix {
    overflow: auto;
}

body {
    background-color: lightgray;
}

header {
    margin: 20px;
    display: block;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* font-weight: 600; */
    width: 50%;
    text-decoration: none;
    float: left;
    padding: 10px;
}

#timer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: right;
    width: 50%;
    float: right;
    padding: 10px;
}

main {
    text-align: center;
    /* margin-top: 10px;
    display: block; */
}

#introPage {
    display: inline-block;
}

#questionPage {
    display: none;
}

#gameOverPage {
    display: none;
}

#highScoresList {
    background-color: lightgray;
}

#resultDivider {
    display: none;
}

.result {
    font-style: italic;
    font-weight: 300;
}

#correct {
    display: none;
}

#wrong {
    display: none;
}

#initial-count {
    display: inline-block;
}

#initial-list {
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
}

li {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(35, 235, 231);
    color: black;
    font-size: 20px;
    line-height: 1.5;
}

.btn:focus {
    outline: none;
}

.answer:focus {
    outline: none;
    /* -webkit-focus-ring-color auto 1px; */
}

.answer:active {
    outline: none;
}